.promo {
  background-color: rgba(7, 48, 66, 1);
}

.promo__wrapper {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 0 70px 75px 70px;
  margin: 0 auto;
}

.promo__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding-top: 75px;
  padding-bottom: 84px;
}

.promo__title {
  margin: 0;
  max-width: 640px;
  font-size: 50px;
  line-height: 58px;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

.promo__subtitle {
  margin-top: 36px;
  padding: 0;
  font-size: 13px;
  opacity: 0.5;
  max-width: 310px;
}

.promo__logo {
  max-width: 310px;
}

.promo__link {
  box-sizing: border-box;
  border: 1px solid #FFF;
  background-color: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
}
.promo__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1089px) {
  .promo__container {
    justify-content: center;
    text-align: center;
  }
  
  .promo__wrapper {
    text-align: center;
  }
  .promo__title {
    font-style: normal;
    margin-top: 45px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
  }
  .promo__subtitle {
    margin-right: auto;
    max-width: 260px;
    margin-left: auto;
    line-height: normal;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .promo__container {
    justify-content: center;
    text-align: center;
  }
  .promo__wrapper {
    padding: 0 45px 75px 45px;
  }
}

@media screen and (max-width: 550px) {
  .promo__container {
    justify-content: center;
    text-align: center;
  }
  .promo__title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
  }
  .promo__wrapper {
    padding: 0 14px 75px 14px;
  }
}

@media screen and (max-width: 380px) {
  .promo__logo {
    max-width: 210px;
  }
  .promo__wrapper {
    padding: 0 10px 30px 10px;
  }
}
