

.notfound__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 250px auto;
}

.notfound__title {
  font-weight: 400;
  font-size: 140px;
  margin: 0;
  line-height: normal;
  font-style: normal;
}

.notfound__subtitle {
  margin: 10px auto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.notfound__back {
  border: none;
  background-color: transparent;
  margin: 174px auto 30px ;
  color: #4285F4;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  width: 50px;
}

.notfound__back:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .notfound__container {
    margin: 410px auto auto auto;
  }
}

@media screen and (max-width: 550px) {
  .notfound__container {
    margin-top: 330px;
  }

  .notfound__title {
    font-size: 80px;
  }

  .notfound__subtitle {
    margin: 13px auto 10px auto;
    font-size: 12px;
  }

  .notfound__back {
    font-size: 12px;
    margin-top: 275px;
  }
}
