.header {
  background-color: #073042;
}
.header__logo {
  max-height: 100%;
}
.header__logo:hover {
  opacity: 0.8;
}
.header__container {
  max-width: 1280px;
  margin: 0 auto;
  max-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 18px 70px;
}
.header__link {
  height: 38px;
  width: 38px;
}
.header__nuv {
  display: flex;
  gap: 30px;
}
.header__button {
  border: 0;
  padding: 8px 20px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
}
.header__button:hover {
  opacity: 0.8;
}
.header__button_active {
  background-color: #3ddc84;
  border-radius: 3px;
  box-sizing: border-box;
  color: black;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 18px 30px;
  }

  .header__button {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .header__container {
    padding: 18px 14px;
  }
}

@media screen and (max-width: 350px) {
  .header__button {
    font-size: 10px;
  }

  .header__nuv {
    gap: 14px;
  }
}